<div class="container">
  <div class="form-container">
    <div>
      <p>Register</p>
    </div>

    <form>
      <input placeholder="name" name="name" [(ngModel)]="form.name" />
      <input placeholder="username" name="username" [(ngModel)]="form.username" />
      <input placeholder="password" name="password" type="password" [(ngModel)]="form.password"
        (blur)="validatePasswords()" [class.invalid]="!passwordsMatch" />
      <input placeholder="repeat password" name="repeatpassword" type="password" [(ngModel)]="form.repeatPassword"
        (blur)="validatePasswords()" [class.invalid]="!passwordsMatch" />
      <span *ngIf="!passwordsMatch" class="invalid-password">Passwords does not match</span>
      <button class="submit-button" type="submit" (click)="signUp()" [disabled]="!passwordsMatch">Sign Up</button>
    </form>

    <div class="create-account">
      <h1>Do you already have an account?</h1>

      <a routerLink="/signin">Sign in</a>
    </div>
  </div>
</div>
