.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
  background-color: #f5f5f5;
  margin-bottom: 30px;
}

.menu{
  margin-left: 10px;
}

.item{
  padding: 5px;
  margin: 10px;
  color: black;
  text-decoration: none;
  font-size: 18pt;
  font-weight: bold;
	font-family: 'Times New Roman', Times, serif;
}

.item:hover{
  color: #1BA94C;
  cursor: pointer;
}

.avatar-container{
  display: flex;
  align-items: center;
  padding: 5px;
}

.avatar{
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 10px;
  margin-left: 10px;
  border: 4px solid #1BA94C ;
}

.bottom {
  border-top: 1px solid #e6e6e6;
  padding: 10px;
  background-color: #f5f5f5;
  margin-top: 2%;
}

.bottom a{
  padding: 10px;
}

.container {
  margin-left: 20%;
  margin-right: 20%;
}

body, input, button {
  font-family: "Century Gothic",sans-serif;
  font-size: 20pt;
}
div {
  margin: 0.5em;
}