.container {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  height: 100vh;
}

textarea::placeholder {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  font-size: x-large;
}

textarea {
  background-color: black;
  border: none;
  resize: none;
  outline: none;
  height: 100px;
  width: 100%;
  padding-top: 35px; /* Adjust this value to vertically align the placeholder */
  padding-bottom: 35px;
  padding-left: 35px;
  border-bottom: 1px solid #2F3336;
}

.crate-container {
  width: auto;
  border-bottom: 1px solid #2F3336;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.feed-container {
  border: 1px solid #2F3336;
}

.list {
  display: grid;
  grid-gap: 35px;
  grid-template-columns: repeat(auto-fit, 1fr);
  margin-bottom: 80px;
}

.list-item {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border-bottom: 1px solid #2F3336;
  transition: 0.3s;
  height: 100%;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
}

.description {
  padding: 10px;
  margin-left: 3%;
  height: 100%;
  color: #fff4f4;
  overflow: hidden;
  font-size: 1rem;
}

.name-container {
  display: flex;
  align-items: center;
  padding: 5px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px 5px 0px 0px;
}

h1 {
  color: white;
  font-size: 1.4rem;
}

button {
  width: 8%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 38px;
  border-radius: 35%;
  border: none;
  background-color: #1C9BEF;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #124E78;
}
