<div class="container">
  <app-navigator></app-navigator>

  <div class="feed-container">
    <div *ngIf="isSignedIn" class="crate-container">
      <textarea placeholder="What is Happening?!" [(ngModel)]="form.description"></textarea>
      <button (click)="form.description && _create()">Post</button>
    </div>
    <div *ngIf="!isSignedIn" class="whats-happening">
      <h1>What’s happening</h1>
    </div>

    <div class="list">
      <a class="list-item" *ngFor="let tweet of tweets">
        <a class="avatar-container" href="/user/{{tweet.author._id}}">
          <img class="avatar" src="https://ui-avatars.com/api/?name={{tweet.author.name}}" alt="avatar">
          <div class="name-container">
            <h1>{{tweet.author.name}}</h1>
            <h2>@{{tweet.author.username}} - {{ tweet.date | amTimeAgo }}</h2>
          </div>
        </a>
        <p class="description">{{tweet.description}}</p>
      </a>
    </div>
  </div>
  <app-search *ngIf="isSignedIn" [title]="'Who to follow'" [parentMethod]="getTweets.bind(this)"></app-search>
</div>
