head
    meta(charset="utf-8")
    title The Nmber Quiz
    script(src='/question.js')
body    
    h1 The Nmber Quiz
    p Your current score is #{SCORE}. 
    p You have completed the Number Quiz,with a score of #{SCORE} out of 5.
    