<div class="container">
  <form [formGroup]="activityForm" (ngSubmit)="create()">
    <div class="form-container">
      <label>Name:</label>
      <div class="input-container">
        <input type="text" name="name" id="name" formControlName="name"
          [class.invalid]="activityForm.controls['name'].touched && activityForm.controls['name'].invalid">
        <span *ngIf="activityForm.controls['name'].touched && activityForm.controls['name'].invalid">Name must be
          provided</span>
      </div>
      <label>Duration:</label>
      <div class="input-container">
        <input type="text" name="duration" id="duration" formControlName="duration"
          [class.invalid]="activityForm.controls['duration'].touched && activityForm.controls['duration'].invalid">
        <span *ngIf="activityForm.controls['duration'].touched && activityForm.controls['duration'].invalid">Duration
          must be provided</span>
      </div>
      <label>Description:</label>
      <div class="input-container">
        <input type="text" name="description" id="description" formControlName="description"
          [class.invalid]="activityForm.controls['description'].touched && activityForm.controls['description'].invalid">
        <span
          *ngIf="activityForm.controls['description'].touched && activityForm.controls['description'].invalid">Description
          must be provided</span>
      </div>
    </div>
    <button class="create-button" type="submit">Create</button>
  </form>
  <div class="instructions">
    <app-activity-fields-info></app-activity-fields-info>
  </div>
</div>
