<div class="container">
  <h1>{{activity.name}}</h1>
  <span>{{activity.duration}}</span>
  <h2>{{activity.description}} </h2>
  <strong>Benefits:</strong>
  <div class="list">
    <a class="list-item" *ngFor="let benefit of activity.benefits"
      routerLink="/activity/{{activity._id}}/benefit/{{benefit._id}}">
      <span class="benefit-name">{{benefit.name}}</span>
      <br />
      <span class="benefit-description">{{benefit.description}}</span>
    </a>
  </div>
  <div class="button-container">
    <button class="edit-button" *ngIf="isSignedIn" routerLink="/edit">Add Benefit</button>
    <button class="edit-button" *ngIf="isSignedIn" routerLink="/edit">Edit</button>
    <button class="delete-button" *ngIf="isSignedIn" routerLink="/" (click)="deleteActivity()">Delete</button>
  </div>
</div>
