<div>
  <strong>Name:</strong> {{activity.name}} <br />
  <strong>Description:</strong> {{activity.description}} <br />
  <strong>Duration:</strong> {{activity.duration}} <br />
  <strong>Benefits:</strong> <br />
  <ul>
    <li *ngFor="let benefit of activity.benefits">
      <strong>Name:</strong> {{benefit.name}} <br />
      <strong>Description:</strong> {{benefit.description}} <br />
      <br />
    </li>
  </ul>
  <button *ngIf="isSignedIn" routerLink="/" (click)="deleteActivity()">Delete this activity</button>
</div>
