<div>
  <span>To create a new Running Activity Record, please follow these steps:</span>

    <br />
    <br />

    <span>
      <strong>Name:</strong>
      This field requires the name of the running activity. It should be concise, yet descriptive.
      <br />
      Examples include"Interval Run", "Long Run", etc.
    </span>

    <br />
    <br />

    <span>
      <strong>Duration:</strong>
      The duration field is meant for an estimated time range that it would typically take to perform the running
      activity.
      <br />
      You can use time ranges like "20-40 minutes", "60+ minutes", etc.
    </span>

    <br />
    <br />

    <span>
      <strong>Description:</strong>
      This field is for a brief explanation of what the running activity is.
      <br />
      It should include the nature of the activity and any particular features it may have.
      <br />
      For example, an interval run could be described as "Interval runs involve periods of intense effort interspersed
      with periods of moderate to light effort. This training method
      improves speed and cardiovascular fitness."
    </span>
</div>
