<nav class="menu">
  <h1>SSP Twitter</h1>
  <a class="item" routerLink="/"><i class="fas fa-home"></i>
    Home
  </a>
  <a *ngIf="isSignedIn" class="item" routerLink="/user/{{id}}"><i class="fas fa-user"></i>
    Profile
  </a>
  <a *ngIf="!isSignedIn" class="item" routerLink="/signup">
    <i class="fas fa-user-plus"></i> Sign up
  </a>
  <a *ngIf="!isSignedIn" class="item" routerLink="/signin">
    <i class="fas fa-sign-in-alt"></i> Login
  </a>
  <a *ngIf="isSignedIn" class="item" routerLink="/signin" (click)="signOut()">
    <i class="fas fa-sign-out-alt"></i> Sign out
  </a>
</nav>
