<div>
  <span>The Benefits field is meant to highlight the key advantages or gains from performing the particular running
    activity.</span>

  <br />
  <br />

  <span>
    <strong>Name:</strong>
    A brief, clear title for the specific benefit.
    <br />
    Examples include "Improved Cardiovascular Fitness", "Increased Speed", etc.
  </span>

  <br />
  <br />

  <span>
    <strong>Description:</strong>
    A brief explanation of how the running activity leads to this benefit.
    <br />
    For example, "Interval runs enhance your VO2 max, helping your body to use oxygen more efficiently" explains how
    interval runs improve cardiovascular fitness.
  </span>
</div>
