<div class="container">
  <div class="form-container">
    <div>
      <p>Register</p>
    </div>

    <form>
      <input placeholder="name" name="name" [(ngModel)]="form.name" />
      <input placeholder="username" name="username" [(ngModel)]="form.username" />
      <input placeholder="password" name="password" type="password" [(ngModel)]="form.password"/>
      <input placeholder="repeat password" name="repeatpassword" type="password" [(ngModel)]="form.repeatPassword"/>
      <button class="submit-button" type="submit" (click)="signUp()">Sign Up</button>
    </form>

    <div class="create-account">
      <h1>Do you already have an account?</h1>

      <a routerLink="/signin">Sign in</a>
    </div>
  </div>
</div>
