<div class="container">
  <div class="search-container">
    <i class="fas fa-search search-icon"></i>
    <input type="text" placeholder="Search..." class="rounded-input" [(ngModel)]="form.username"
      (input)="onSearchChange()">
  </div>

  <div class="users-container">
    <h1>{{title}}</h1>
    <div class="list-item" *ngFor="let user of users">
      <a href="/user/{{user._id}}" *ngIf="user._id !== id || title != 'Who to follow'" class="avatar-container">
        <img class="avatar" src="https://ui-avatars.com/api/?name={{user.name}}" alt="avatar">
        <div>
          <h1>{{user.name}}</h1>
          <h2>@{{user.username}}</h2>
        </div>
      </a>
      <button *ngIf="isSignedIn && user._id !== id" (click)="toggleFollow(user)">{{followAction(user)}}</button>
    </div>
  </div>
</div>
